{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Настройки стиля</h1>
    <form>
        <div>
            <label class="label" for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '#000000' }}">
        </div>

        <div>
            <label class="label" for="background">Выберите цвет фона:</label>
            <input type="color" id="background" name="background" value="{{ background or '#ffffff' }}">
        </div>

        <div>
            <label class="label" for="font_size">Выберите размер шрифта (px):</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or 16 }}" min="10" max="40">
        </div>

        <div>
            <label class="label">Выберите стиль текста:</label>
            <select name="text_style">
                <option value="">Обычный</option>
                <option value="italic" {% if text_style == 'italic' %}selected{% endif %}>Курсив</option>
                <option value="bold" {% if text_style == 'bold' %}selected{% endif %}>Жирный</option>
            </select>
        </div>

        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}

