{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <h2>Вторая лабораторная</h2>
    <ul>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/cats">Котики</a></li>
        <li><a href="/lab2/books">Список книг (русская классика)</a></li>
        <li><a href="/lab2/flowers">Список цветов</a></li>
        <li><a href="/lab2/clear_flowers">Очистить список цветов</a></li>
    </ul>
{% endblock %}
