<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 8</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='lab5/lab5.css') }}">
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Имя пользователя: {{ login }}</p>
    <h1>База знаний</h1>
    {% if login == 'Anonymous' %}
        <div class="button-group">
            <a href="/lab8/login"><button>Вход</button></a>
            <a href="/lab8/register"><button>Регистрация</button></a>
            <a href="/lab8/public"><button>Публичные статьи</button></a>
            <a href="/lab8/search"><button>Поиск статей</button></a>
        </div>
        <div class="username"><i>Anonymous</i></div>
    {% else %}
        <div class="button-group">
            <a href="/lab8/logout"><button>Выход</button></a>
            <a href="/lab8/article"><button>Cписок моих статей</button></a>
            <a href="/lab8/article/create"><button>Cоздать статью</button></a>
            <a href="/lab8/public"><button>Публичные статьи</button></a>
            <a href="/lab8/search"><button>Поиск статей</button></a>
        </div>
        <div class="username"><i>{{ login }}</i></div>
    {% endif %}
</body>
</html>
